* {padding: 0; margin: 0; box-sizing: border-box;}
body{
    background-color: darkslategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    padding-top: 20%;
}
h1{
    font-size: 20px;
    color:lavender;
}
#counter{
    color: aliceblue;
    font-weight: bold;
    font-size: 80px;
}

